html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.statsCell{
    width:30px;
    
}

#infoBox{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

td, tr {
    font-size: 21px;
}